body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  color: #616971; }

.top-bar {
  background-color: #885151;
  height: 2.5rem; }

.brand {
  font-family: 'Courgette', cursive; }

span.brand {
  position: absolute;
  top: 25%;
  font-size: 1.5rem; }

.top-bar a {
  color: #eff5ef;
  text-decoration: none;
  font-size: 1.1rem; }

.navbar-brand img {
  height: 3rem;
  font-size: 2rem; }

.navbar {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: .1rem;
  /* box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .8);
    z-index: 1;  */ }

.nav-item {
  padding: .5rem; }

.nav-link {
  color: #5b5555 !important; }

.nav-link.active,
.nav-link:hover {
  color: #97522b !important; }

#carousel {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
  z-index: 1; }

.carousel-inner {
  max-height: 40rem !important; }

.carousel-item {
  transition: transform 1.2s ease; }

.carousel-caption {
  position: absolute;
  top: 30%;
  text-transform: uppercase; }

.bg-custom {
  background-color: rgba(68, 57, 27, 0.6);
  border-radius: 1rem; }

.carousel-caption h1 {
  font-size: 3rem;
  text-shadow: 0.3rem 0.3rem 0.5rem black; }

.border-info {
  border-top: 0.2rem solid #32a8d6 !important; }

.carousel-caption h3 {
  font-size: 1.5rem;
  text-shadow: 0.1rem 0.1rem 0.4rem black; }

.btn-md {
  text-transform: uppercase;
  border-radius: 0;
  border-width: medium; }

.btn-secondary {
  background-color: #66726f;
  border: 0.05rem solid #53635e; }

.btn-info {
  background-color: #317786;
  border: 0.05rem solid #115564; }
