


$myFont: 'Montserrat', sans-serif;
$primary: rgb(184, 212, 155);



body {
    overflow-x: hidden;
    font-family: $myFont;
    color: #424e5a;
    background-color: aliceblue;
}

.top-bar {
    background-color: rgb(159, 182, 135);
    height: 2.5rem;
}
.brand {
    font-family: 'Courgette', cursive;
}

span.brand {
    position: absolute;
    top: 25%;
    font-size: 1.5rem;
}

.top-bar { 
    a {
    text-decoration: none;
    font-size: 1.1rem;
    }
}

.navbar-brand { 
    img {  
        height: 3rem;
        font-size: 2rem;
    }
}


.navbar{
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .1rem;
    background-color: $primary;
    /* box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .8);
    z-index: 1;  */
}

.nav-item {
    padding: .5rem; 
}

.brand {
    color: #5b5555;
}

.nav-link.active,
.nav-link:hover {
    color: rgb(151, 82, 43)!important;
}



.nav-link.active {
    text-decoration: underline;
}

.row-content {

    min-height: 200px; 
}

.media {
    
    h3 {
        letter-spacing: .8rem;
    }
    p {
        font-size: 1.2em;
        line-height: 1.6;
    }
    img {
        border-radius: 15% 0;
    }
}

.custom-shadow {
    box-shadow: 0 .5rem .2rem rgba(163, 173, 166, 0.5);
}

#carousel {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .5);
    z-index: 1;
}


.carousel-item {
    transition: transform 1.2s ease;
}

#main.carousel-caption {
    position: absolute;
    top: 30%;
    text-transform: uppercase;
}
#menu.carousel-caption {
    position: relative;
    left: 0;
    top: 0;
    background-color: rgb(181, 201, 181);
}


.bg-custom {
    background-color: rgba(68, 57, 27, .6);
    border-radius: 1rem;
}

.carousel-caption h1 {
    font-size: 3rem;
    text-shadow: .3rem .3rem .5rem rgba(0, 0, 0, 1);
}
.border-info{
    border-top: .2rem solid rgb(50, 168, 214)!important;
}
.carousel-caption h3 {
    font-size: 1.5rem;
    text-shadow: .1rem .1rem .4rem rgba(0, 0, 0, 1);;
}

.btn-md {
    text-transform: uppercase;
    border-radius: 0;
    border-width: medium;
}
.btn-secondary {
    background-color: rgb(102, 114, 111);
    border: .05rem solid rgb(83, 99, 94);
}
.btn-info {
    background-color: rgb(49, 119, 134);
    border: .05rem solid rgb(17, 85, 100);
}

.site-footer{
    background-color: $primary;

}

div#sideNav {
    
    li {
        padding: .5rem 0;
    
        h5 {
            color: #5b5555;
            text-transform: uppercase;
            font-weight: 600;
        }
        a {
            text-decoration: none;
            font-weight: 500;
            color: rgb(151, 82, 43);
            &:hover {
                padding: 5px;
                background-color: rgb(228, 232, 224);
            }
        }

    }
}
div {
    img.cup-style {
        border-radius: 50%;
        width: 10rem;
    }
}

div.menu-section {
    a {
        letter-spacing: .08rem;
    }
}

#hotDrinkItems {
    padding: 0 25px;
    background: rgb(223, 238, 222);
    display: none;
}

#coldDrinkItems {
    padding: 0 25px;
    background: rgb(223, 238, 222);
    display: none;
}

.carousel {
    img {
        width: auto;
        height: 30rem;
        max-height: 30rem;
    }
}

#mainPic {
    max-width: 100%;
    height: auto;
    box-shadow: 1rem .5rem .2rem rgba(163, 173, 166, 0.5);
}

.relative {
    position: relative;
    width: 100%;
    height: auto;
}
#customHiring {
    background-color: rgb(235, 228, 220);
    max-width: 50%;
    width: 30rem;
    position: absolute;
    top: 10rem;
    left: 15em;
    
}

@media (max-width: 769px) {
    #customHiring {
        left: 2em;
        transform: translate(0);
    }
}